@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background: #2e4156;
    background-size: cover;
    background-repeat: no-repeat;
    color: #c0c8ca;
    font-family: 'Montserrat', sans-serif;
}

.container{
    text-align: center;
    margin-top: 150px;
}

.date-birthday, .date{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    align-items: center;
    font-size: 30px;
    
    padding: 20px 0;
    
}

@media(max-width: 425px){
    .date-birthday, .date{
        gap: 20px;
    }

    .container{
        margin-top: 100px;
    }
}

@media(max-width: 375px){
    .date-birthday, .date{
        font-size: 29px;
        gap: 10px;
        
    }

    .container{
        margin-top: 50px;
    }
}

@media(max-width: 320px){
    .date-birthday, .date{
        font-size: 25px;
        gap: 5px;
        
    }
}